@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/* html,
body {
   background: #000;
} */

html,
body {
   font-family: 'Montserrat', sans-serif;
   background-color: transparent;
   padding: 0;
   margin-top: 0;
   box-sizing: border-box;
}

.underline {
   text-decoration: underline;
   font-weight: 500;
}

b {
   font-weight: 600;
   color: #252b34;
}

.compress {
   letter-spacing: -0.5px;
}

.dots {
   letter-spacing: normal;
}

.small {
   line-height: 10px;
   font-size: 10px;
}

.stack {
   text-align: right;
}

.hide {
   display: none;
}

.regular {
   font-weight: 400;
}

.semibold {
   font-weight: 500;
}

.medium {
   font-weight: 600;
   color: #565656;
}

.phone,
.mail {
   font-weight: 400;
}

.phone:hover,
.mail:hover {
   text-decoration: underline;
}

.soft-skills-section a,
.my-project-section a:hover,
.sidebar-section a:hover {
   color: #fb6d3a !important;
}

a.orange:hover {
   color: #fb6d3a98;
}

/* .pink {
   color: rgb(220, 97, 117);
   font-weight: 600;
}

.blue {
   color: blueviolet;
   font-weight: 600;
} */

.work-experience-description,
.contact-section-type,
.contact-section-link,
.tech-skills-item-text,
.education-subtitle,
.my-project-item,
.my-projects-text,
.link,
.my-projects-bracket {
   font-size: 16px;
}

.my-projects-bracket,
.my-project-item,
.work-experience-title,
.about-me-profession,
.education-subtitle,
.my-name-section {
   font-weight: Bold;
}

.bold {
   font-weight: 700;
}

.td.work-experience-description {
   width: 45%;
}

.about-me-profession {
   font-weight: 700;
   line-height: 17px;
   font-size: 28px;
   width: 100%;
   white-space: nowrap;
   padding-left: 0 !important;
   padding-top: 20px !important;
}

.underline,
.about-me-profession,
.work-experience-title,
.my-project-item,
.my-projects-bracket,
.my-projects-bracket-2 {
   color: #000;
}

.sidebar-title,
.contact-section-type,
.tech-skills-item-text,
.social,
.sidebar-info-section {
   color: #fff;
}

.big-h2 {
   font-size: 24px;
   font-weight: 300;
   color: #000;
}

.main-container {
   display: flex;
   flex-direction: row-reverse;
   background-color: #fff;
   margin: 0 auto;
   box-shadow: 6px 6px 20px rgba(102, 65, 65, 0.1);

   width: 1620px;
   /* min-height: 100vh; */
}

.main-content-section {
   display: block;
   width: 65%;
   padding: 50px 120px 80px 90px;
}

.sidebar-section {
   display: block;
   width: 35%;
   background-color: #1e2939;
   padding: 0 0 20px 0;

   /* min-height: 100%; */
   min-height: 100%;
}

.sidebar-section,
.picture {
   border: none;
}

.sidebar-info-section {
   padding-right: 24px;
}

.my-name-section {
   font-size: 44px;
   line-height: 55px;
   margin: 19px 0 -5px 0;
}

.my-description-section {
   margin-right: 5px;
   line-height: 141%;
   text-align: justify;
   margin-bottom: 8px;
   /* margin-bottom: 18px; */
}


.my-profile {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.my-description-section,
.work-experience-description,
.my-projects-text,
.link {
   color: #000;
}

.cv-photo {
   background: transparent;
}

.my-description-section,
.contact-section-type,
.contact-section-link,
.tech-skills-item-text,
.my-project-item,
.my-projects-text,
.link,
.my-projects-bracket,
.work-experience-description {
   line-height: 24px;
}

.work-experience-description {
   margin: 0;
}

.my-description-section p:not(.my-name-section),
.my-work-experience-section .work-experience-title {
   padding-left: 20px;
}
.my-description-section > .work-experience-subtitle.location {
   padding-left: 0;
}

.my-work-experience-section .work-experience-description {
   max-width: 720px;
}

.tech-skills-list {
   padding-left: 17px;
}

.social {
   margin-top: 5px;
   width: 24px;
   height: auto;
   margin-left: 10px;
}

.contact-section,
.tech-skills-section,
.soft-skills-section {
   margin: 35px 0 0 60px;
}

/* .contact-section {
   margin-top: 42px;
} */

ul.contact-section-type {
   list-style-type: none;
   margin-left: -40px;
   margin-right: 20px;
}

.contact-section-link a,
address span.work-experience-subtitle {
   font-size: 16px;
   line-height: 24px;
   color: #fff;
   opacity: 0.89;
}

li.contact-section-link {
   font-size: 16px;
   line-height: 140%;
}

.contact-section-link span {
   font-weight: bold;
   font-style: normal;
}

address span.work-experience-subtitle {
   font-weight: normal;
}

.contact-section a:hover {
   color: #c1c1c1;
}

.orange,
.tech-skills-item {
   color: #fb6d3a;
}

.tech-skills-item ul {
   margin-bottom: 4px;
   margin-top: 4px;
   padding-left: 25px;
 
}

.tech-skills-item ul li {
   line-height: 160%;
   font-size: 16px;
}

.education .tech-skills-item-text {
   line-height: 130%;
   margin: 8px 0;
   font-size: 14px;
}

.graduate {
   padding: 0;
   vertical-align: middle;
}

/* .work-experience-title .credential, */
.credential {
   font-size: 14px;
   color: #000000;
   font-weight: 500;
   text-decoration: none;
}
.credential:hover {
   text-decoration: underline 1px solid #128cbd;
}

.my-education-section ul {
   padding-left: 24px;
}

.my-education-section li {
   /* list-style: none; */
   list-style: '>  ';
   /* margin-top: 1px; */
   margin-left: 15px;
}

.work-experience-title {
   font-size: 16px;
   line-height: 20px;
   margin-bottom: 10px;
}

.work-experience-title.last {
   margin-bottom: 38px;
}

.my-description-section .my-projects-bracket-2,
.work-experience-subtitle {
   font-size: 16px;
   line-height: 16px;
   /* color: #a8a8a8; */
   color: #838383;
   font-weight: 400;
   margin-left: 5px;
}

.soft-skills-section.work-with .work-experience-subtitle {
   margin-left: 0;
}

.my-description-section .my-projects-bracket-2,
.my-description-section .work-experience-subtitle {
   font-size: 16px;
   margin-left: 0;
   margin-bottom: 40px;
}

.contact-section .work-experience-subtitle {
   font-size: 16px;
   color: #fff;
   margin-left: 0;
}

h3 {
   font-size: 22px;
   font-weight: Bold;
   line-height: 27px;
   color: #000;
   margin-bottom: 12px;
}

.work-experience-title {
   font-size: 16px;
   line-height: 20px;
}

.education-subtitle {
   line-height: 17px;
}

.company {
   margin-bottom: 15px;
}

.my-project-section {
   margin: 0;
   margin-bottom: 35px;
   width: 90%;
   margin-right: 5px;
   padding: 0;
   text-align: justify;
}

.my-projects-list {
   /* padding-left: 17px; */
}

.my-projects-text {
   font-weight: 400;
}

.my-projects-bracket-2 {
   font-size: 12px;
   line-height: 15px;
}

.cv-photo {
   width: 100%;
   height: auto;
}

.black {
   color: #000;
}

.contact-section-type,
.contact-section a {
   color: #fff;
}

.my-projects-link.project {
   font-weight: 600;
}

.my-projects-text a {
   /* color: #1e2939; */
   /* text-decoration: underline solid #c1c1c1; */

   color: #000000;
   font-weight: 500;
   text-decoration: underline solid #000000;
}

.my-projects-text a:hover {
   color: #000;
   text-decoration: underline;
}

.expand {
   color: #fb6d3a;
   /* border: 1px solid #000; */
   position: absolute;
   margin-top: -6px;
   margin-left: 10px;
}

.cv-photo {
   border: none;
   padding-top: 8px;
   background-color: #fff;
}

.sidebar-section .tech-skills-item p {
   margin: 3px;
}

.ico {
   display: inline-block;
   content: '';
   min-width: 20px;
   min-height: 10px;
   margin: 5px;
   margin-left: 0;
   position: relative;
}

.material-symbols-outlined {
   font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 0, 'opsz' 20;
   position: absolute;
   bottom: -10px;
}

.cources-table {
   width: 100%;
   font-size: 16px;
   color: #000;
}

.cources-table li {
   padding: 0 20px;
}
.cources-table td {
   width: 50%;
}

.work-experience-description,
.work-experience-description.inthernship li,
.tech-skills-item.edu {
   list-style-type: none;
}

.tech-skills-list.edu {
   padding: 0;
   margin-top: 0;
}

.my-projects-text {
   margin: 0 auto;
   padding-left: 5px;
   align-items: stretch;
   display: flex;
   justify-content: space-between;
}

.work {
   padding-left: 0;
   line-height: 24px;
   margin: 4px 0;
}

.my-project-item {
   text-align: end;
   margin: a;
   padding-left: 10px;
}

.my-projects-link {
   display: inline-block;
   align-self: flex-start;
}

.svg_ico {
   padding-left: 1.6ch;
   width: 18px;
   height: 18px;
   vertical-align: sub;
}

.svg_ico path {
   fill: #fb6d3a;
}

.svg_ico.location path {
   fill: #c1c1c1;
}

.my-education-section .work-experience-description p {
   margin: 12px 0 12px -12px;
}

.soft-skills {
   margin: 0 15px;
}

.my-description-section.about-me {
   display: flex;
   flex-wrap: wrap;
   /* justify-content: space-evenly; */
   gap: 10px;
}

.full-work-experience.main-container {
   display: flex;
   flex-direction: column;
   min-height: 60vh;
   box-sizing: border-box;
   padding: 80px 50px;
   margin-top: 60px;
}

.full-work-experience > .main-content-section {
   width: 100%;
}

/* стили для печати */
@media print {
   html,
   body {
      width: 100%;
      /* background: grey; */
      background: transparent !important;
      /* background: #1e2939; */
      box-sizing: border-box;
      margin: 0;
      /* margin-right: auto !important; */
      padding: 0;
      overflow: hidden;
   }

   .main-container {
      margin: 0;
      box-shadow: none !important;
      padding: 0;
      box-sizing: border-box;
      /* padding-top: 10px; */
      height: 100%;
      /* overflow: hidden; */
   }

   .sidebar-section {
      position: relative;
      padding: 0;
      padding-bottom: 118.2px;
   }
   .sidebar-section::before {
      display: block;
      position: absolute;
      content: '';
      height: 5px;
      width: 100%;
      left: 0;
      bottom: -5px;
      background: red;
      z-index: 9;
   }
}
